<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/details.css">
</head>
<body>
    <div class="details-title active1">

        <div class="top-title">
            <h3>跨越鸿沟： 2020京东新品及C2M报告</h3>
            <p>
                    <span>
                        <b class="time"></b>
                        时间  2020年05月11日
                    </span>
                <span>
                        <b class="classification"></b>
                        分类 电商趋势
                    </span>
                <span>
                        <b class="browse"></b>
                        浏览 3280次
                    </span>
                <span>
                        <b class="download"></b>
                        下载  392次
                    </span>
            </p>
        </div>
    </div>
    <div class="details-content">
        <!-- 拿到后台图文的字符串插入-->
        <p>
            <span style="font-size:24px">跨越鸿沟：2020京东“新品”及C2M报告</span>
        </p>
        <p><strong>&nbsp;</strong></p>
        <p>前言</p>
        <p><strong>一直以来，购物都是一次有计划的旅行。不过在30年前，人们除了计划之外还需要一点运气——消费者并不知道什么商品正好陈列在柜台里而什么商品断货，生产商也不知道——因此那时去百货商店购物不啻为一场生产者与消费者的“双盲试验”。</strong></p>
        <p><strong>此后，这一信息断层逐渐被各种手段填补，但消费者依然是被动接受方，如果想对品种、功能、价格进行筛选，都需要货比三家，但选择空间依然不大；而对于厂商来说，他们需要很长时间才能发现哪种产品受欢迎、哪种滞销，信息的反馈因冗长而迟缓的供应链而滞后。</strong></p>
        <p>&nbsp;</p><p>而如今，消费者的“旅行”目的地已从商店变成了商品：以往“生产端-零售端-消费端”的单向传导早已实现逆向传导，电商平台和移动技术的普及促成了零售行业中这一消费者行为方面的最大变化，供应链的迟滞效应已极大地缩小。</p>
        <p>然而，供应链是一个高度复杂的“实体+数字”网络。由于业务目标和运营模式的冲突，原材料供应商、制造商、零售商和消费者往往难以步调一致。</p>
        <p>基于此，若借助综合电商平台的海量销售行为分析来实现具体目标、打通生产与消费端需求链，那么端到端整合就能够实现更大的目标，并且有助于智能供应链网络构建、产业数字化转型。</p>
        <p>更需注意的是，代表着新技术、新设计、新功能、新体验和更好利润的新品将为品牌商提前抢占行业先机，成为品牌竞争中的强有力一环，因此新品首发阵地的选择格外重要。</p>
        <p>若要达此目的，则需要关注并遵循以下趋势：</p>
        <p class="MsoListParagraph" style="margin-left:24px">1.<span style="font:9px 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span>如何以最快的速度在最广的市场捕获核心消费者的芳心；</p>
        <p class="MsoListParagraph" style="margin-left:24px">2.<span style="font:9px 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span>无论是追求合理价值平衡、还是坚持某一需求的满足，抑或是简单的冲动购买，任一类型消费者的诉求都应该得到最大满足；</p>
        <p class="MsoListParagraph" style="margin-left:24px">3.<span style="font:9px 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span>京东平台上2020年1月的单月新品发布量超2018全年，2020年第一季度的单季新品发布量已接近2019年全年发布量的50%；无论是生产端还是消费端，都已将其视作最高效的传导枢纽。</p>
        <p>作为“以供应链为基础的技术与服务企业”，京东以智能供应链和智能物流为代表的基础设施，不仅在疫情期间为民生保障和经济恢复搭建出一条“快车道”，同时也借助数字技术实现产业链上下游的信息互通、资源共享、创新共融，让消费者更容易地发现更多有趣的新款产品，为用户提供更好的消费体验；同时也能帮助品牌商解决新品发布的难题、帮品牌做好新品全生命周期运营。</p>
        <p>&nbsp;</p>
        <h1><span style="font-size:19px;line-height:240%">第一部分 生产商如何通过已知进入未知</span></h1>
        <p>消费已经成为拉动我国经济增长的强劲引擎。2019年，中国社会消费品零售总额41.2万亿元，同比增长8%。消费对经济增长贡献率57.8%，拉动GDP增长3.5个百分点。消费连续六年保持中国经济增长第一拉动力。未来随着工业化、城镇化的发展，消费增长潜力还将进一步释放。</p>
        <p>当前，中国消费从“量变”到“质变”的趋势已经愈发明朗，“人民对美好生活的追求”集中反映在对“品质生活”和“个性消费”的追求上，消费升级已经在各线城市、各年龄段中递次、悄然发生。在消费升级、用户“追新”需求日益增加的大背景下，新品成为吸引用户消费的重要抓手，是驱动各品类创新发展、引领各行业销售增长的强劲动力。</p>
        <p>供给侧而言，在大数据和AI等科技手段的驱动下，产业发展趋向于数字化和智能化，产业数字化转型一方面能够突破时空限制，大幅提高信息连接效率，降低时空交互成本，另一方面，能够对生产、经营、销售等环节进行精准预测，优化布局、实时反馈并反复修正。</p>
        <p>综合电商平台是供需两侧的有效连接点。一方面可以将好的产品“多、快、好、省”的传达到消费者手中，满足人们日益升级的消费需求；另一方面，可以实时感知消费者的需求变化，并将其反馈给供给侧，反向推动供给侧产业数字化转型。</p>
        <p></p>
        <h2><span style="font-size:14px;line-height:173%">电商平台已成“新品”发布最佳渠道</span></h2>
        <p>作为生产端，企业何时推出新产品、推出什么样的新产品，已不再单纯由生产环节决定， “永远在线”的消费者对产品的外形、价格、功能、送货、服务甚至生产方式、环保等级等都有十分明确的要求，以及细微到角落的各种“微需求”……因此获知消费者的喜好与心理比以往任何时候都显得重要。</p>
        <p>代表着新技术、新设计、新功能、新体验和更好利润的新品是品牌商提前抢占行业先机，增强品牌竞争力的关键一环，因此新品首发阵地的选择格外重要。品牌希望培养和吸引新品消费的人群集中关注，实现在新品首发时渠道、人群的精准推广，通过“京东小魔方”去承载新品的站内外联动推广，实现影响人群积累。</p>
        <p>2019年5月，京东针对新品业务的“京东超级新计划”正式启动，并同时将新品首发频道升级为“京东小魔方”。短短数个月内，“京东小魔方”已经合作了华为、戴森、宝洁、联想、欧莱雅等上百家品牌，完成了数千款新品的首发，其中包含近百款品牌年度重磅超级新品。</p>
        <p>事实上，早在“京东小魔方”之前，京东平台已成为各大品牌最重要的“首发”平台之一，而且消费者的认知度也日益提高。</p>
        <p><img src="/static/echartsImages/277e559b9bd5005d.png" title="图1.png"></p>
        <p>图中可见，2016年至今，典型品类中新品的销售占比均有大幅度提高。尤其在2019年，手机、电脑、电器、进口食品等品类中的新品销售占比激增，意味着品牌对京东这个新品发布平台的重视，以及“京东小魔方”在相关领域的发力，给新品的销售带来新的契机。</p>
        <p>此外，京东大数据显示，2018-2020年，新品发布量迅猛增长。2020年1月的单月新品发布量超2018全年，2020年第一季度的单季新品发布量已接近2019年全年发布量的50%。</p>
        <p>此前发布的《2020京东电脑数码新品消费趋势报告》显示，2019年电脑数码头部新品数量近5万个，各品类新品个数平均同比增速超25%，其中更新迭代速度快的游戏本品类新品销售贡献率最为突出。由于新品的备受追逐，产品推新也成为头部品牌提振品牌优势，获取新粉丝的必争之地。报告显示2019年小米、华为等TOP品牌的新品拉新率已超20%，新品成为了品牌发展的重要引擎。</p>
        <p>除了数码潮品，京东超市在新品发售领域也同样突出：超90%的核心品牌将京东超市作为新品首发平台，超过50%的自营品牌推出了包销定制的新品。作为在疫情期间力保全国民生需求的重要平台之一，京东超市已跟全国超过50个核心产业带的工厂、企业展开厂直优品及工厂货的合作。</p><p>&nbsp;</p>
        <h2><span style="font-size:14px;line-height:173%">新品消费者的基本面变化：“两极”增长加速</span></h2>
        <p>2017-2019年，各品类（以下表述均为该品类中的新品销售）的累计购买人次增长分别为21%、23%，据京东大数据，这其中25岁以下即所谓“Z世代”人群（95年之后出生）的占比增长最为惊人，至2019年已占30%以上。</p>
        <p><img src="/static/echartsImages/dce7ce6462711310.png" title="图2.png" alt="图2.png"></p>
        <p>这类人群购买的倾向性新品品类是电脑手机和电器类。近年来带电类商品日趋智能、高端、绿色、跨界，年轻人显然更容易跟上科技与潮流，其需求和反馈更会反向推动厂商进一步设计生产更为激进、新潮的产品。同时，Z世代在母婴、医药保健等品类中的消费占比同样增长迅速，凸显出这是一个更具活力、更乐于尝试新产品的群体。</p>
        <p>年轻化的同时，该类人群逐渐出现向低学历倾斜的趋势。据2020第一季度京东消费者的同比数据看，高中及以下学历的人群占比有所下降，大学（本、专）学历的占比上升明显，但在上述品类新品消费数据来的来看，却呈现分化的趋势：大学（本、专）及硕士生的消费比例在母婴、图书、进口食品等品类中占比扩大，不过像电脑、手机、电器以及医药保健等品类中，大学以下学历的人群消费占比明显增长。</p>
        <p>这一方面说明大学及硕士以上人群最早接触高科技产品，如今对数码3C商品的需求已趋于稳定，逐渐拓展到环保升级和精神追求。</p>
        <p>下图为不同学历人群购买各品类新产品的消费占比变化。</p>
        <p><img src="/static/echartsImages/d6b1bf7de59711fb.png" title="图3.png" alt="图3.png"></p>
        <p>更为重要的是，<strong>3C商品进一步下探到低学历人群市场的意义重大。</strong>世界银行在2016年的《世界发展报告》中就提及“数字红利”概念，指出“发展中国家拥有手机的家庭比有电或清洁用水的家庭还多……要消除横亘于前的数字鸿沟，尤其是在互联网接入领域”——京东数据显示，在购买手机类新品的用户群中，高中及以下学历人群占比提升56%（TGI），成为增长最显著的品类人群之一，手机也早已超越电脑成为接入互联网的最佳选择。</p>
        <p>此外，手机新品购买者中另一类显著人群为56岁以上中老年消费者，对比他们近三年来的手机消费可见，老人并不满足于“直板功能机”，而是同样寻求“互联网接入口”，甚至需要更多功能。以京东在今年初上市的“时光机”为例，它具备最高2400万像素的后置三摄、64-128G内存、6.5寸屏幕、5000mAh电池等硬件，并不太逊色于主流手机，软件上则配置了体检套餐、一年在线问诊、亲情小时光等契合老年人需求的智能手机。有意思的是，上市三个月内，其128G版的销量是性价比版本（64G）的3.2倍，说明消费者的购买行为正在发生根本性的变化。</p>
        <h2><span style="font-size:14px;line-height:173%">新品的接受过程依然需要传导</span></h2>
        <p>虽然购物方式发生了变化，但基本面仍很重要。厂商需要借助技术实现正确的商品分类，并利用外部数据做出更明智的分类决策，并且更准确地预测需求模式，从而在适当的时间和地点提供适当的产品。</p>
        <p>无论哪个品类的厂商，都需要认识到消费者的心理。例如新款户外运动手表、千元以上运动鞋，或是新款黄金首饰等，一线城市以压倒性优势成为最重要的新品市场；而电脑3C和潮牌（包括服饰和箱包），2线城市也是不可小觑的市场；对于奢侈品牌来说，1、2、5线都是必争之地；从总体看看，4-6线市场的用户在智能手机、轻奢品、洗发水和服饰等品类上的新品购买占比较高，而其它品类，当地消费者可能会更倾向于更为实惠的非新款产品。</p>
        <p><img src="/static/echartsImages/b2133004eb13b97d.png" title="图4.png" alt="图4.png"></p>
        <p>对于厂商来说，这可能会出现一个悖论：是继续巩固已有市场，还是把资源投向开拓新的领地？需要指出的是，尽管高线市场的新品销售体量更大，但中低线市场并非不可作为。</p>
        <p>2018年，一线城市用户购买新品的消费额占比高于全品消费额占比约20%左右，但截止2020年第一季度，一线城市用户的消费占比数字已下降了17%（TGI）左右，2-3线城市占比在2020年也出现了下降；与之相对应的，是4-6线城市占比的迅猛上升。</p>
        <p><img src="/static/echartsImages/2c7d22c03fc38c60.png" title="图5.png" alt="图5.png"></p>
        <p>此前发布的《京东“异地订单”大数据报告》中曾分析得出，高线级用户向低线级发送的异地订单具有非常鲜明的指导性和示范性，不仅在商品质量、用户体验上引领消费理念，更在能效、环保、绿色等方面带动低线级市场更快地升级换代。</p>
        <p>以上因素叠加京东平台品类丰富、物流下沉等因素的保障与推动，低线级市场用户自身购买的商品品质、档次也在逐年提高，其中包括了功能更强大、颜值更新潮但同时价格也较高的新产品——成为生产商主要利润来源和拓展市场份额的主要方式。</p>
        <p>&nbsp;</p>
        <h2><span style="font-size:14px;line-height:173%">“边缘”消费者最不可忽视</span></h2>
        <p>在针对超过1000名购买过手机、数码、服饰、饮食、母婴等品类的新品消费者的在线调研中，超过一半的用户认为从2018-2020年，新品的价格和品质都有上升，此外还有约20%的用户认为“品质升高、价格降低”，只有约12%的用户认为品质有所下降。</p>
        <p><img src="/static/echartsImages/d2d6e106f2da8eb4.png" title="图6.png" alt="图6.png"></p>
        <p>以上用户中有55%都曾在过去两年中购买过手机。<span style="background:aqua;background:aqua">据新华社报道，5G芯片、多摄像头等高成本元器等因素导致2019年6月时市面上的5G旗舰手机价格都在10000元以上，这在一定程度上拉高了均价。</span>不过随着技术的成熟，如今已不乏3000元档的5G新机。</p>
        <p>高端智能手机并不是唯一变得越来越贵的产品。中端设备的价格也在被推高。iPhone 11的售价比入门级iPhone 8高出7%，比iPhone 7高出15%。</p>
        <p>价格上涨本身并不罕见：通货膨胀会影响科技以外的商品成本，但新型处理器和照相机等更快更好的功能部件制造成本更高，研究和开发新系统、新材料的成本被折算进最终产品的价格。</p>
        <p>然而有意思的是，消费者只用了两年便接受了更高的价格，其他智能手机制造商也纷纷效仿。有报告显示，一加手机品牌的旗舰机在过去两年里增价达37.6%。</p>
        <p>苹果首席执行官蒂姆•库克(Tim Cook)曾指出：“如果你提供大量的创新和价值，就会有人愿意为此付费……<span style=";color:#333333;background:#FAFAFC">对我们来说，这已是一个足够大的群体。</span>”</p>
        <p>除了手机，其它商品也类似。京东上PRADA品牌的销量表现突出，说明消费者们有的愿意为品质付费，有的愿意为品位付费，有的则愿意为圈层付费——这与国内中日益崛起的Z世代或低线市场消费群体等趋势是一致的。</p>
        <p>下图中参照横线为2018年相关品类新品客单价，柱状图为2019年不同人群的新品客单价增幅。</p><p><img src="/static/echartsImages/c6a312c22250b8a1.png" title="图7.png" alt="图7.png"></p>
        <p><strong>新品客单价出现明显上涨的人群有：4-6线消费者、25岁及以下消费者、56岁及以上的消费者和高中及以下学历消费者。这一数据映证了上面的观点，一些可能看似较为“边缘”的人群如：中低线用户、仍在上学的年轻人以及老年人等，他们的消费需求恰恰应该成为厂商需要重视并全新考量的市场。</strong></p>
        <p><img src="/static/echartsImages/6d5d9b6ba943f9d1.png" title="图8.png" alt="图8.png"></p>
        <p>上图：不同线级市场的消费者购买不同品牌、同类新款商品时的消费差异。</p>
        <p>此外，近来年“预售”模式日益流行。在针对新品购买者的调研中，超过60%的用户表示他们参与过预售环节。</p>
        <p>电商预售是调动消费者欲望，预防爆款断货的最佳模式。商家只需把断货款转为预售款，利用“定金+尾款预售”模式，以消费者为中心定制生产，有数据地提前备货，变被动为主动，引发新一轮销售高潮。</p>
        <h1><span style="font-size:19px;line-height:240%">第二部分 消费者为何追求新品：品质，品位，甚至是圈层</span></h1>
        <p>如果“穿越”回到30多年前的购物场景，现在的消费者可能会被当年商品贫瘠的选项和高度的同质化所震惊。如今，消费者被动接受货品的时代已经完全结束，当年跑断腿的“货比三家”放到现在，无非只是动动手指而已。</p>
        <p>而且，现在的消费者对商品的“微需求”已可以放到最大，也就是会选择他们认为很重要或有价值的特定产品或属性，比如手机外壳是否可以挂绳、奶粉罐的盖子是否方便打开，都有可能影响购买决定。</p>
        <p>过去，商品在不同地区之间只有轻微的差异，主要取决于销量、气候和竞争强度等宏观因素。而现在，消费者已有非常大的选择空间，来挑选一款提供特定质素的产品。</p>
        <p>&nbsp;<img src="/static/echartsImages/280e8b012fe2264e.png" title="图9.png" alt="图9.png"></p>
        <p>在针对购买过各类新品的消费者调研中，41%的消费者无论是否经过“犹豫期”，都会爽快地做出购买决定，不会马上决定的消费者占到55%，另有4%的人选择购买上一代产品。</p>
        <p>&nbsp;</p>
        <h2><span style="font-size:14px;line-height:173%">三种类型的消费者，你属于哪一种</span></h2>
        <p>以消费者在购买新款商品前，对商品的关注时间长短（犹豫期）为标准，可将消费者划分为<strong>合理价值驱动、长远目的驱动型、冲动型</strong>三种类型。……</p>
        <p>需要指出的是，这里所谓“犹豫期”特指的是售前阶段的“关注期”。消费者出于自身“微需求”而关注某款新上市或者即将上市的产品，无论是更新换代、组合搭配或一时冲动等原因，其“关注期”的长短取决于他对这款商品的刚需程度。</p>
        <p><img src="/static/echartsImages/045bd6c42a6b8af7.png" title="图10.png" alt="图10.png"></p>
        <p>在针对购买过各类新品的消费者调研中，关注该新品“一周左右”的消费者约占37%，“关注一个月以内”33%——总计达到70%。这类人群对新品的功能、价格、外形、上市时间都有充分了解，往往在不同的选项间作过比较，最终在一个月内做出购买的决定，大致可以称为“<strong>合理价值驱动</strong>”型消费者；</p>
        <p>此外，“关注1-3个月”的消费者约有13%，5%关注了3个月以上，这一类人群对品牌的忠诚度较高，或对商品特性极为挑剔，因此才会愿意花费更多时间去等待最合适的商品，因此可以称为“<strong>长远目的驱动型</strong>”人群；</p>
        <p>第三类人群属于“没关注、刚好看到了”的消费者，约占12%，这类人群在购买前意向并不清晰，较容易受随机因素引导，因此可以称作“<strong>冲动型</strong>”消费者。</p>
        <p>参照IBM 商业价值研究院此前对消费者的分类，“合理价值驱动”型消费者最关心是否物有所值，根据价格和便捷性选择品牌，因此他们对于价格、功能、外形等多项因素的综合考虑较为均衡，考虑时间越短，说明其消费弹性越大；</p>
        <p>而“目的驱动型消费者”则主要根据个人价值观契合度来选择品牌，他们愿意用实际行动支持可持续发展，改变个人购物行为，甚至支付更多的费用购买心仪的产品，关注时间越久（超过3个月），说明其对产品的某一项特有属性的需求越强烈、消费弹性越小。</p>
        <p>而冲动型消费者受诱导而购物的随机性大，而且所占比例不低，这类用户的消费弹性最大，但对商品的丰富度和辨识度有着很高的要求。</p>
        <p><img src="/static/echartsImages/0d82ed62e12a75e6.png" title="图11.png" alt="图11.png"></p>
        <p>交叉对比这三类消费者购买的品类可以发现，购买某个新款奢侈品或食品的消费者没有出现关注超过3个月，但是关注1-3个月的占比较高；而新款美妆和运动户外（服饰或鞋靴）的购买者中“冲动性消费”（没关注，正好碰到了）的占比在几大品类中最高；购买手机的消费者，关注三个月以上的占比在各品类中最高，一周内就决定购买的人群占比最低。</p>
        <p>由此可以得出大致结论：</p><p>关注（考虑或等待时间）时间最长、消费弹性最小的是手机类消费者，为了追求某个“微特征”与自己的需求匹配，他们愿意等较长时间，并为此支付一定溢价——这是心意最为坚定的人群之一，但在购买家电时他们的态度有所变化；</p>
        <p>食品、奢侈品消费者的关注时间中等（小于3个月），消费弹性大于带电商品，但依然有一定品牌集中度；</p>
        <p>美妆和运动户外用品的消费者等待或犹豫时间最短，即消费弹性最大，此类商品品牌多、同质化程度较高或接近，因此消费者选择空间较大，而比较不必拘泥于品牌、款式或其它特性，他们的心意最不坚定，但同时也是最难取悦的人群。</p>
        <p><img src="/static/echartsImages/c16033c75937c807.png" title="图12.png" alt="图12.png"></p>
        <p>另一组交叉对比说明了消费者心态的复杂性：</p><p>占到总人数70%的“合理价值驱动型”消费者实际上非常倾向于购买新款商品，因此他们会在小于一月（甚至短于一周）内购买；而“目的驱动型”则比较符合设定：（对于新品）既不会很快购买，也不会不买（犹豫期或关注期最长，但 “购买上一代”的占比也最低）；而“冲动型”消费者选择购买上一代的占比反而是最高，再次证明这是非常难以培养忠诚度的群体。</p>
        <p>&nbsp;</p>
        <h2><span style="font-size:14px;line-height:173%">消费者的转型</span></h2>
        <p>前面已经提到过，超过一半以上的消费者认为近三年来各类新产品的“品质和价格都有上升”，而事实上，认为品质上升的消费者占到70%左右。</p>
        <p>不久前发布的《2020京东电脑数码新品消费趋势报告》中提出，消费力提升和对品质生活的向往，催生了各种全新的消费需求。从对2019年京东电脑数码品类用户消费评论整理来看，越来越多的用户开始要求电脑数码新品“内外兼备”，沉浸感、人性化、高效率、高颜值成为当下用户新品消费的诉求。这也意味着各品牌必须时刻洞察新品消费新风向，加速产品迭代，推出更多满足消费者细分需求的新品。</p>
        <p>分析发现，商品的件单价越高比如手机、奢侈品，消费者越注重商品的价值，件单价较低的商品如服饰鞋靴等，消费者受价格驱动也越来越小，因此可以认为，消费者在新品的选择上正在从“价格驱动”转向“价格和品质双轮驱动”，且“品质”正超越价格成为更主要的驱动因素。</p>
<!--        <p><img src="/static/echartsImages/c29a9a931a96fb23.png" title="图13.png" alt="图13.png" width="990" height="637"></p>-->
        <p>这个转变左右了消费者的购物选择，如上文所说，人们只用了两年就接受了旗舰手机价格的大幅上涨。也就是说，对品质的追求是一种发自内心的、受品牌与购物环境影响的潜意识。比如在30年前购物，消费者往往可能面临只有唯一或唯二的选择，但在如今，京东平台为用户提供了极为丰富、优质、高效、透明的新款商品。</p>
        <p>面对不同层级的消费者需求，京东的解决方案是加速推进产业数字化，首先，借助大数据进行反向定制（C2M），而目前京东在C2M领域已经有了相对成熟的商业模式和开发能力，并通过C2M模式催生了众多贴合消费者需求、甚至引领消费者需求的新品类。</p>
        <p>此外，新品的成功也离不开花式玩法的引爆。无论是从激发用户认同感、兴趣度出发的跨界联名、直播带货等玩法，还是切中用户痛点、抓住用户心理的免费试用、分期免息等手段，电脑数码领域新品营销玩法层出不穷且屡获硕果。品牌和电商正携手求新，读懂消费者后设计新品，用最适合消费者的方式推出新品，用新品刷新未来。</p>
        <p>2018年以来，直播逐渐成为Z世代聚集的流量大户，其中不乏带货明星。2020年初的疫情更是让“直播带货”成为重要的销售渠道之一。</p>
        <p>京东直播在“内容不断电商化，电商不断内容化”的行业趋势下应运而生。作为京东集团重要战略性业务之一，京东直播旨在通过不断升级的产品和技术能力，为商家提供新的营销工具和渠道，为平台营销提供新场景，为用户提供从种草到购买的消费新体验。</p>
        <p><img src="/static/echartsImages/3500cfad42bc190b.png" title="图14.png" alt="图14.png"></p>
        <p>例如，2月10至16日，京东直播联合宝洁中国推出“科学实验室”这个直播创新内容IP，该IP紧贴当前疫情热点，以“专家+主播”跨屏连线解答的形式，一连7天解读节后返工防护中的热点问题，将产品的科学属性及日常知识传递给大家。该IP的独创之处在于：它不仅是京东的新营销场，打破了此前直播就是单纯的带货的定义，更传达了品牌在产品之外的延伸出的社会价值，塑造了更完整、更有温度的品牌形象。“科学实验室”已作为京东直播常规栏目，与宝洁、伊利、飘柔等品牌不断继续尝试升级。</p>
        <p>此外，疫情导致很多地方交通受阻，农产品运不出去，有消费需求的人又进不来。这时，京东直播迅速推出顶级流量和专属政策扶持“京源助农”项目，全面开放并倾斜供应链、物流、运营、推广等核心资源，快速对接货品上架售卖，提供运营1对1指导以及专项资金补贴，并开通极速免费入驻开播绿色通道，提供百大主播千万级流量免服务费带货直播支持，常态化部署针对源产地/源头好货/产业带地区。建立用户来京东直播观看官方号推荐好货的习惯，通过京东直播官方号每周主推荐一个IP，打造爆品，树立标杆，赋能产业带中1400多家京东特色馆/扶贫馆/pop商家的直播销售。同时通过直播，花瓶子，米袋子，菜篮子，醋坛子，果盘子，茶罐子，肉条子，等产品宣传全国的贫困/滞销地区的三农特色产品，通过重要人物出场 比如村长/县长/局长/市长等领导出场直播间，带动和宣传本地农产品，和文化历史，扩大助农的力量，帮扶源产农产品销售，让用户直接触达到与贫困地区，助力产业带地区振兴。</p>
        <p>此外，京东直播的JD星发布是今年京东直播营销娱乐化及品质化的四大策略之一。其中专家+明星+主播同场带货策略的展现，秉承将新颖丰富的直播内容+专业有用的知识+带货环节（趣味+专业+带货）融合在一起，进行一场有质量的直播盛宴，立行业标杆。品牌直播内容营销场的新模式尝试，深耕专业内容及垂类粉丝。京东直播试水更多模式，挖掘年轻人直播间互动新机会，重点将泛娱乐营销及电商直播结合，创造更多不同的直播形态，破除单一的电视购物买买买形式，而创造更多的有趣有料的专业内容。更短的内容链路，更直接的营销效果，结合京东自营优势，打造全新的直播生态场。</p>
        <p><strong>此外，经过调研发现，人们在全平台观看各种主播带货直播后，相关品类中约有70%的用户会回流到包括京东在内的平台搜索、下单，其最主要原因是 “正品行货”以及“物流快”在消费者心目中长久以来赢得的信赖。</strong></p>
        <p><img src="/static/echartsImages/a034b18ca515e294.png" title="图15.png" alt="图15.png"></p>
        <p>&nbsp;</p>
        <h1><span style="font-size:19px;line-height:240%">第三部分：C2M的正向命题</span></h1>
        <p>时至今日，即使供应链的迟滞效应已极大地缩小，但依然存在。对于厂商来说，如何尽可能地跨越这一鸿沟，既可以为自身获取最精准的市场需求信息，同时也可满足包括最摇摆的消费者们日益增长的“微需求”，这将持续推动“产业数字化”的渗透与下沉。</p>
        <p>前文中已提到实现产业数字化的具体途径之一是C2M，所谓C2M，即为“用户直连制造或反向定制”Customer-to-Manufacturer，是一种新型的产业互联网商业模式，如今该模式已被应用于诸多行业和领域。</p>
        <p>事实上，C2M是产业数字化的鲜明代表和先锋。满足消费者对产品的个性化需求和对美好生活的向往是C2M最终的目的，要实现这个目的，产业数字化则是必由之路。原因在于，如果产业没有达到足够的数字化水平，企业必然会在“规模化”和“个性化”之间权衡取舍，真正的C2M无法达成。</p>
        <p>&nbsp;</p>
        <h2><span style="font-size:14px;line-height:173%">京东的突破和切入点</span></h2>
        <p>而京东C2M则给企业跳出“规模化”和“个性化”之间取舍的困境，通过超10亿消费行为数据、150万外部舆情进行多维数据交叉分析，能将产品需求调研时间减少75%，从而进一步缩短产品面世的时间，在消费者需求旺盛时及时推向市场。</p>
        <p>京东C2M起步于3C，后来强势切入家电市场，据此前的数字，基于C2M模式开发的京品家电产品数量已经超过1000款。</p>
        <p>3C和家电一直是京东最优势的竞争品类。京东是全渠道领先的家电销售渠道，今年一季度的全渠道零售额占比达到29.1%，2019年11.11期间，C2M反向定制的京品家电，成交额占到了京东家电整体成交额的15％以上；在其它领域的也正在扩大，京东与联合利华合作推出一款运动专研系列洗发水，仅用三周的时间。</p>
        <p>此外，京东就已经积极拓展C2M模式产业带。去年上线的京喜产业带厂直优品计划涵盖了工厂直供、产地溯源、出口转内销，全面推进产业带和源产地的新型零售基础设施建设，助力打造新型数字化产业带。</p>
        <p>截止2020年一季度，京喜已布局全国超100个产业带和源产地。未来，京喜将聚焦中国1000个产业带和源产地的100万家优质工厂型及农场型商家，开展10000场产业带溯源直播，赋能10万个工厂型商家具备C2M能力。</p>
        <p>京东模式的优势在于砍掉了所有中间环节，利用智能引擎、大数据分析、供应链协同等，让消费者和制造企业的连接更加紧密、顺畅、多元化，除了减少企业库存压力外，还能大大让利消费者。</p>
        <h2><span style="font-size:14px;line-height:173%">消费者嘴上说不懂，身体很诚实？</span></h2>
        <p>对于消费者而言，C2M依然是一个相对陌生的名词。数据显示，购买过各类新品中的消费者仅有10%“了解”或“比较了解”C2M定制概念，其中目的驱动型消费者占比高出均值144%（TGI），说明这个人群最接近定制化商品经济，也是C2M面对消费人群的切入口。</p>
        <p>随着消费者继续被定制化产品所吸引，他们不再仅凭产品的“普遍价值”来判断品牌价值，而更是关注产品的“微需求”满足能力，而从调研的结果来看， 53%表示对定制“非常满意”，39%表示比较满意。</p>
        <p><img src="/static/echartsImages/8cbcb99ce24a285e.png" title="图16.png" alt="图16.png"></p>
        <p>从消费者对定制产品的评论来看，出现比较高频的描述有：</p>
        <p>性价比、使用舒适、大牌、简洁大方、<span style=";color:#333333;background:white">质感不错。</span></p>
        <p>比如一款京东商城中评论量达到14万+的“京造”电动牙刷，其中一项高赞评论为：</p>
        <p>“对比了很多牌子，最终选择京造，包装绝对不输大牌，很上档次，其次牙刷刷毛很软，而且振动舒适。之前买过一个振动小，几乎刷不干净，这次买了这个特别棒，刷的超级干净。最主要性价比真的是很高，发货也超级快，早晨下单、下午就到了，拿到货立马刷起来。很不错哦。”</p>
        <p>不过需要指出的是，尽管定制化受到普遍重视，但其受重视程度在不同地区的消费者之间却存在显著差异。高低线传导现象同样存在，高线消费人群中“目的驱动型”和“冲动型”的占比都要高于中低线市场，说明中低线市场目前的主流人群对C2M认知度还需提高。</p>
        <p>但在消费大升级的背景下，伴随着电商行业日趋传统化、竞争日趋白热化，如何实现高品质消费与高性价比之间的平衡成为电商行业模式探索发展的新要求。</p>
        <h2><span style="font-size:14px;line-height:173%">C2M</span><span style="font-size:14px;line-height:173%">的伪命题与正命题</span></h2>
        <p>近日，一部十分钟的纪录片--《国际大牌成本揭秘》在社交平台疯传。纪录片里，数家国际大牌代工厂商出面揭露一个早已广为流传但当消费者真正听闻仍然不愿相信的现实。市场上售价近10000元的化妆品，成本只有一两百块钱，售价超过千元的某国际知名运动鞋成本也不过在34.94美元……</p>
        <p>消费者往往容易被误导为：一件产品从制造商到最终到达消费者手里，需要经过品牌商、经销商等的层层溢价，因为中间环节太多，商品到用户手中的时候，价格已经翻了数十上百倍，几万块的奢侈品，成本也就几百块而已。例如苹果iPhone，售价可能高达万元，但有人将其拆解后，发现其配件价格总额可能只有1/5，即所谓“零整比”。</p>
        <p>然而事实并非真的如此。大品牌在研发、试错新产品的投入，搭建供应链、为消费者提供完善并有保障的售后服务、企业的社会责任与环保措施等等，都需要支付巨额成本——这一成本并非“理应”由消费者买单，但是消费者花费超过“零整比”的价格，除了品牌溢价及“圈层”收益外，其实是购买了技术创新、环境保护、售后服务等保障。</p>
        <p>可以想象，如果所有生产商都在别家开发新品后规模化低成本炮制——知识产权的窃取成本如此之低——那么很快整个世界的技术创新将停滞，人类不会再有进步。</p>
        <p>因此，C2M并不是“低价”或“性价比”的代名词，或者说将C2M等同于低价是一个伪命题。C2M真正的使命，也是京东将其作为重点布局的原因，是在于通过从消费端需求反推产品设计、产能投放、产品流通等各个环节，让制造者精准对话消费者，让消费者成为市场的真正主角，从而为商品带来新的销售增长渠道，让制造商明确提升效能，实现品牌商、厂家，消费者与平台的共赢。</p>
        <p>&nbsp;</p>
        <h1><span style="font-size:19px;line-height:240%">结语：跨越鸿沟的最优解</span></h1>
        <p>相比30年前的“双盲测试”，如今的消费者已可以前所未有地轻松做到“始终在线”、“货比万家”，这令广大品牌和零售商倍感压力，他们需要随时满足消费者购物和使用体验，这为各种规模的竞争者创造了赢得消费者信任的机会。</p>
        <p>“新款产品”无疑是厂商用以保持行业优势并获取利润的重要载体，那么，广大品牌就必须除了不懈地追求无处不在的便捷购物外，还要了解哪些基本需求对购物者来说仍然重要、而哪些“微需求”将促使消费者做决定。</p>
        <p>对于消费者而言，他们将越来越洞悉自己的真实需求、从而制定合理的预算、“聪明”地购物、简单地获取与自身价值观相符的具有特定属性的产品，这其中包括尽可能地减少选择商品所付出的时间成本、购买商品所花费的经济成本，以及尽可能地增加购买后所获得的品质、功能、品位甚至圈层升级的体验。他们的需求也将通过京东这样的平台被精准地反馈到整个产业链中。</p>
        <p>基于以上趋势，再回顾一下本文中提到的几个关键数据：</p>
        <p>2020年第一季度的新品发布量已接近2019年全年发布量的50%；</p>
        <p>超90%的核心品牌将京东超市作为新品首发平台，超过50%的自营品牌推出了包销定制的产品</p>
        <p>70%的<span style="background:yellow;background:yellow">受访</span>消费者表示会从其他渠道回流到可靠平台购买新品；</p>
        <p>认为品质上升的消费者占到70%左右；</p>
        <p>占到总人数70%的“合理价值驱动型”消费者实际上非常倾向于购买新款商品</p>
        <p>关注该新品“一周左右”的消费者约占37%，“关注一个月以内”33%——总计达到70%</p>
        <p>92%的用户对京东C2M定制商品感到满意；</p>
        <p>……</p>
        <p>一系列的数据可以证明，京东已消费者购买各品类新品首选平台，同时是各大品牌发布新品，并深度定制最适合消费者的新品的首选平台。</p>
        <p>值得注意的是，京东正在试图探索出一个“多端多场景下的智能供应链升级”的整体解决方案。这个方案两个大方向为正向的全渠道供应链以及 C2M反向供应链。全渠道供应链，是京东触及各个渠道形成快速协同的一个大网，为消费者提供便捷服务。而C2M反向供应链则是，深度洞察消费者，定制出更加符合消费者需求的产品形象、功能和价格等，这是京东爆品孵化的一个机制。</p>
        <p>简而言之，京东及其C2M模式一端连接制造商，一端连接海量的高素质消费者，通过构建“极短链路”去掉库存、物流、总销、分销等中间环节降低成本，让生产商可以用最小的试错成本、最短的回转周期来向市场供应各种“爆款”，同时让数亿用户可以用最简单的方式、最低的时间成本的经济成本购买到真正需要的产品。</p>
        <p></p>
        <p style="text-align:center"><img src="/static/echartsImages/e59fb1305a3dd71c.png" title="image.png" alt="image.png"></p>
        <p></p>

    </div>

</body>
</html>